<h1 mat-dialog-title>Inscribir estudiantes</h1>
<form class="formgrid grid col-12" [formGroup]="estudiantesForm">
  <div mat-dialog-content>
    Por favor llene los datos.
    <p class="field row">
      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input
          [formControl]="idControl"
          type="text"
          matInput
          placeholder="Id number"
        />
        <mat-error *ngFor="let error of idControl.errors | keyvalue">{{
          error
        }}</mat-error>
      </mat-form-field>
    </p>
    <p class="field row">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input [formControl]="nombreControl" matInput placeholder="Nombre" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngFor="let error of nombreControl.errors | keyvalue">{{
          error
        }}</mat-error>
      </mat-form-field>
    </p>
    <p class="field row">
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input
          [formControl]="apellidoControl"
          matInput
          placeholder="Apellido"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">{{
          error
        }}</mat-error>
      </mat-form-field>
    </p>
    <p class="field row">
      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <mat-select [formControl]="cursoControl">
          <mat-option value="Inglés A1">Inglés A1</mat-option>
          <mat-option value="Inglés A2">Inglés A2</mat-option>
          <mat-option value="Inglés B1">Inglés B1</mat-option>
          <mat-option value="Inglés B2">Inglés B2</mat-option>
          <mat-option value="Inglés C1">Inglés C1</mat-option>
          <mat-option value="Francés A1">Francés A1</mat-option>
          <mat-option value="Francés A2">Francés A2</mat-option>
          <mat-option value="Francés B1">Francés B1</mat-option>
          <mat-option value="Francés B2">Francés B2</mat-option>
        </mat-select>
        <mat-error *ngFor="let error of cursoControl.errors | keyvalue">{{
          error
        }}</mat-error>
      </mat-form-field>
    </p>
    <p class="field row">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input [formControl]="emailControl" matInput placeholder="Email" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{
          error
        }}</mat-error>
      </mat-form-field>
    </p>
    <p class="field row">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
          [formControl]="fecharegistro"
          matInput
          [matDatepicker]="picker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngFor="let error of cursoControl.errors | keyvalue">{{
          error
        }}</mat-error>
      </mat-form-field>
    </p>
  </div>
  <div class="col-fixed" style="width: 100px">
    <div>
      <button
        (click)="guardar()"
        type="submit"
        mat-raised-button
        color="accent"
      >
        Registrar
      </button>
    </div>
    <div>
      <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    </div>
  </div>
</form>
